@import "tailwindcss";
@import "@fontsource/alegreya"; 
@import "@fontsource/alegreya/400.css";
@import "@fontsource/alegreya/700.css";

:root {
    font-synthesis: none;
    font-family: "Alegreya", serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F3EEE7;
}
